body {
    background-color: darkmagenta;
}

#lightrod {
    width: 20px;
    background-color: black;
    height: 150px;
    margin: auto;
}

#lightCavin {
    width: 150px;
    height: 350px;
    background-color: black;
    margin: auto;
    border-radius: 10%;

}

#trafficTop{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}

#trafficMiddle{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
}

#trafficBottom{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: auto;

}

.glow {
    box-shadow: 0 0 100px white;
}